@model UserViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h1 class="display-4 mt-4">User Details</h1>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.PersonalIdentifyNumber)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.PersonalIdentifyNumber)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.NrOfVehicles)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.NrOfVehicles)
        </dd>
    </dl>

    <div class="pt-2 pb-3">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary-blue">Edit</a> |
        <a asp-action="Index" class="btn btn-dark-blue">Back to List</a>
    </div>

    <h3 class="pt-5 pb-3">Your Vehicles</h3>

    @if (Model.Vehicles != null && Model.Vehicles.Any())
    {
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th class="pb-2 table-txt">Registration Number</th>
                        <th class="pb-2 table-txt">Vehicle Type</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var vehicle in Model.Vehicles)
                    {
                        <tr>
                            <td class="pt-1">@vehicle.RegistrationNumber</td>
                            <td class="pt-1">@vehicle.VehicleType.Type</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }

    else{
        <h6>Empty List</h6>
    }

</div>