@model UserViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalIdentifyNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalIdentifyNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NrOfVehicles)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NrOfVehicles)
        </dd>
    </dl>
</div>

<h4>Your Vehicles</h4>

@if (Model.Vehicles != null && Model.Vehicles.Any())
{
    <div>
        <table class="table">
            <thead>
                <tr>
                  <th>Registration Number</th>
                  <th>Vehicle Type</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var vehicle in Model.Vehicles)
                {
                    <tr>
                        <td>@vehicle.RegistrationNumber</td>
                        <td>@vehicle.VehicleType.Type</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

else{
    <h6>Empty List</h6>
}


<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
