@model IEnumerable<UserViewModel>

@{
    ViewData["Title"] = "Users";
}

@if (TempData.ContainsKey("Sort"))
{
    <div class="alert alert-success" role="alert">
        @TempData["Sort"]
    </div>
}


@if (TempData.ContainsKey("SortOnEmptyList"))
{
    <div class="alert alert-warning" role="alert">
        @TempData["SortOnEmptyList"]
    </div>
}



@if (TempData.ContainsKey("Search"))
{
    var message = TempData["SearchMessage"] as string;
    var status = TempData["SearchStatus"] as string;

    <div class="@status" role="alert">
        @message
    </div>
}


<div class="container-fluid">
    <h1 class="display-4 text-center mt-4">Users</h1>

    <div class="row justify-content-center">
        <div class="text-center mt-3 mb-3">
            <a asp-action="Create" class="btn btn-primary-blue">Add User</a> |
            <a asp-action="ShowAll" class="btn btn-secondary-blue">Show All Users</a>
        </div>

        <form asp-action="Filter" method="get" class="form-inline m-3 d-flex flex-column align-items-center">
            <p>Choose 1-3 attributes for searching user</p>
            <div class="d-flex flex-searchbar input-group-sm align-items-center">
                <div class="form-group mr-2">
                    <input type="text" class="form-control" name="firstName" placeholder="Search by first name">
                </div>
                <div class="form-group mr-2">
                    <input type="text" class="form-control" name="lastName" placeholder="Search by last name">
                </div>
                <div class="form-group mr-2">
                    <input type="text" class="form-control" name="PersonalIdentifyNumber" placeholder="Search by PIN">
                </div>
                <div>
                    <button type="submit" class="btn btn-mid-blue ms-2">Search</button>
                </div>
            </div>
        </form>
    </div>

    <div>
        <table class="table table-responsive mt-3">
            <thead>
                <tr>
                    <th class="pb-3 text-left font-weight-bold">
                        <a asp-action="Sort" asp-route-sortOrder="PersonalIdentifyNumber" class="text-black table-txt text-decoration-none">Personal Identify Number</a>
                    </th>
                    <th class="pb-3 text-left font-weight-bold">
                        <a asp-action="Sort" asp-route-sortOrder="FirstName" class="text-black table-txt text-decoration-none">First Name</a>
                    </th>
                    <th class="pb-3 text-left font-weight-bold">
                        <a asp-action="Sort" asp-route-sortOrder="LastName" class="text-black table-txt text-decoration-none">Last Name</a>
                    </th>
                    <th class="pb-3 text-left font-weight-bold">
                        <a asp-action="Sort" asp-route-sortOrder="NumberOfVehicles" class="text-black table-txt text-decoration-none">Number Of Vehicles</a>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="index-page">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.PersonalIdentifyNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NrOfVehicles)
                        </td>
                        <td align="right">
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary-blue">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary-blue">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
