@model IEnumerable<VehicleViewModel>

@{
    ViewData["Title"] = "Check In";
}


@if (TempData.ContainsKey("SearchMessage"))
{
    var message = TempData["SearchMessage"] as string;
    var status = TempData["SearchStatus"] as string;

    <div class="@status" role="alert">
        @message
    </div>
}

<div class="container-fluid">
    <h1 class="display-4 text-center mt-4">Check In Vehicle</h1>

    <div class="row justify-content-center">
        <div class="text-center mt-4 mb-3">
            <a asp-action="ShowAll" asp-route-status="false" class="btn btn-primary-blue">Show All</a>
            <a asp-action="Index" class="btn btn-secondary-blue ms-2">Back to List</a>
        </div>

        <form asp-action="FilterCreate" method="get" class="form-inline m-3 d-flex flex-column align-items-center">
            <p>Choose 1-3 attributes for searching a user</p>
            <div class="d-flex flex-row input-group-sm align-items-center">
                <div class="form-group mr-2">
                    <input type="text" class="form-control" name="firstName" placeholder="Search by first name">
                </div>
                
                <div class="form-group mr-2">
                    <input type="text" class="form-control" name="lastName" placeholder="Search by last name">
                </div>

                <div class="form-group mr-2">
                    <input type="text" class="form-control" name="vehicleType" placeholder="Search by vehicle type">
                </div>
                <div>
                    <button type="submit" class="btn btn-mid-blue ms-2">Search</button>
                </div>
            </div>
        </form>
    </div>

    <form asp-action="Create" method="post">        

        <table class="table mt-3">
            <thead>
                <tr>
                    <th class="pb-3 h5 text-left font-weight-bold">
                        Owner
                    </th>
                    <th class="pb-3 h5 text-left font-weight-bold">
                        Vehicle Type
                    </th>

                     <th class="pb-3 h5 text-left font-weight-bold">
                        Registration Number
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.User)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.VehicleType)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.RegistrationNumber)
                        </td>

                        <td align="right">
                            <button type="submit" name="vehicleId" value="@item.Id" class="btn btn-primary-blue">Check In</button>
                        </td> 
                    </tr>
                }
            </tbody>
        </table>

    </form>

</div>

