@model ParkingLotViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h1 class="display-4 mt-4">Parking Spot Details</h1>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.User)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.ParkingSpot)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.ParkingSpot)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Checkin)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Checkin)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.VehicleViewModel.RegistrationNumber)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.VehicleViewModel.RegistrationNumber)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.VehicleViewModel.VehicleType)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.VehicleViewModel.VehicleType)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.VehicleViewModel.Brand)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.VehicleViewModel.Brand)
        </dd>
            <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.VehicleViewModel.VehicleModel)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.VehicleViewModel.VehicleModel)
        </dd>
            <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.VehicleViewModel.Color)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.VehicleViewModel.Color)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.VehicleViewModel.NrOfWheels)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.VehicleViewModel.NrOfWheels)
        </dd>
    </dl>
    <div class="pt-2">
        <a asp-controller="Vehicles" asp-action="Edit" asp-route-id="@Model.VehicleId"  class="btn btn-primary-blue">Edit</a>
        <a asp-action="Index" class="btn btn-dark-blue">Back to list</a>
    </div>
</div>

