@model IEnumerable<ParkingLotViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Parkinglot Page</h1>

<div class="container-fluid">

    <div class="row justify-content-center">
        <div class="mt-3 mb-3">
            <a asp-action="Create" class="btn btn-primary">Park Vehicle</a>
        </div>
    </div>

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th class="px-6 py-4 text-left font-weight-bold">
                        User
                    </th>

                    <th class="px-6 py-4 text-left font-weight-bold">
                        Vehicle Registration Number
                    </th>

                    <th class="px-6 py-4 text-left font-weight-bold">
                        Checkin
                    </th>

                    <th class="px-6 py-4 text-left font-weight-bold">
                        Parking Spot
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.User)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.RegistrationNumber)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Checkin)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.ParkingSpot)
                        </td>

                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Checkout</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>