@model VehicleViewModel

@{
    ViewData["Title"] = "Remove";
}

<div class="container">
    <h1 class="display-4 mt-4">Remove Vehicle</h1>
    <div class="row">
        <h3 class="mt-2 mb-4">Are you sure you want to remove this vehicle?</h3>
        <hr />
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.VehicleType)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.VehicleType)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.User)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.User)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.RegistrationNumber)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.RegistrationNumber)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Color)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Color)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Brand)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Brand)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.VehicleModel)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.VehicleModel)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.NrOfWheels)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.NrOfWheels)
            </dd>
        </dl>
        <div class="pt-2">
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Remove" class="btn btn-danger" /> |
                <a asp-action="Index" class="btn btn-dark-blue">Back to List</a>
            </form>
        </div>
    </div>
</div>