@model VehicleViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h1 class="display-4 mt-4">Vehicle Details</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <dt>
                @Html.DisplayNameFor(model => model.VehicleType)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.VehicleType)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.User)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.User)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.RegistrationNumber)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.RegistrationNumber)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Color)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Color)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Brand)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Brand)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.VehicleModel)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.VehicleModel)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.NrOfWheels)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NrOfWheels)
            </dd>
            <div class="pt-3">
                <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary-blue">Edit</a>
                <a asp-action="Index" class="btn btn-dark-blue ms-2">Back to List</a>
            </div>
        </div>
    </div>
</div>