@model VehicleViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistrationNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleModel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VehicleModel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NrOfWheels)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NrOfWheels)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ParkingSpot)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParkingSpot)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CheckInTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CheckInTime)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
