@model IEnumerable<VehicleViewModel>

@{
    ViewData["Title"] = "Vehicles";
}

@if (TempData.ContainsKey("Sort"))
{
    <div class="alert alert-success" role="alert">
        @TempData["Sort"]
    </div>
}


@if (TempData.ContainsKey("SortOnEmptyList"))
{
    <div class="alert alert-warning" role="alert">
        @TempData["SortOnEmptyList"]
    </div>
}

@if (TempData.ContainsKey("SearchMessage"))
{
    var message = TempData["SearchMessage"] as string;
    var status = TempData["SearchStatus"] as string;

    <div class="@status" role="alert">
        @message
    </div>
}

<div class="container-fluid">
    <h1 class="display-4 text-center mt-4">Vehicles</h1>

    <div class="row justify-content-center">
        <div class="text-center mt-4 mb-3">
            <a asp-action="Create" class="btn btn-primary-blue">Add Vehicle</a>
            <a asp-action="ShowAll" class="btn btn-secondary-blue ms-2">Show All Vehicles</a>
        </div>

        <form asp-action="Filter" method="get" class="form-inline m-3 d-flex flex-column align-items-center">
            <p>Choose 1-4 attributes on your Vehicle</p>
            <div class="d-flex flex-searchbar input-group-sm align-items-center">
                <div class="form-group mr-2">
                    <input type="text" class="form-control" name="registrationNumber" placeholder="Search by reg. number">
                </div>
                <div class="form-group mr-2">
                    <input type="text" class="form-control" name="color" placeholder="Search by color">
                </div>
                <div class="form-group mr-2">
                    <input type="text" class="form-control" name="brand" placeholder="Search by brand">
                </div>
                <div class="form-group mr-2">
                    <input type="text" class="form-control" name="vehicleType" placeholder="Search by vehicle type">
                </div>
                <div>
                    <button type="submit" class="btn btn-mid-blue ms-2">Search</button>
                </div>
            </div>
        </form>
    </div>

    <div>
        <table class="table table-responsive mt-3">
            <thead>
                <tr>
                    <th class="pb-3 text-left font-weight-bold">
                        <a asp-action="Sort" asp-route-sortOrder="VehicleType" class="text-black table-txt text-decoration-none">Vehicle Type</a>
                    </th>

                    <th class="pb-3 text-left font-weight-bold">
                        <a asp-action="Sort" asp-route-sortOrder="User" class="text-black table-txt text-decoration-none">Owner</a>
                    </th>

                    <th class="pb-3 text-left font-weight-bold">
                        <a asp-action="Sort" asp-route-sortOrder="RegistrationNumber" class="text-black table-txt text-decoration-none">Registration Number</a>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="index-page">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.VehicleType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RegistrationNumber)
                        </td>
                        
                        <td align="right">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary-blue">Edit</a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary-blue ms-2">Details</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger ms-2">Remove</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>