@model IEnumerable<VehicleViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


@if (TempData.ContainsKey("Sort"))
{
    <div class="alert alert-success" role="alert">
        @TempData["Sort"]
    </div>
}


@if (TempData.ContainsKey("SortOnEmptyList"))
{
    <div class="alert alert-warning" role="alert">
        @TempData["SortOnEmptyList"]
    </div>
}


<p>
    <a asp-action="Create">Add New Vehicle</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th class="px-6 py-4 text-left font-weight-bold">
                <a asp-action="Sort" asp-route-sortOrder="VehicleType" class="text-black">Vehicle Type</a>
            </th>

            <th class="px-6 py-4 text-left font-weight-bold">
                <a asp-action="Sort" asp-route-sortOrder="User" class="text-black">User</a>
            </th>

            <th class="px-6 py-4 text-left font-weight-bold">
                <a asp-action="Sort" asp-route-sortOrder="RegistrationNumber" class="text-black">Registration Number</a>
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleType)
            </td>

            <td>
                 @Html.DisplayFor(modelItem => item.User)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.RegistrationNumber)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
